@media screen and (max-width:998px) {
    .bgmain-box1::after {
        content: " ";
        opacity: 0;
        right: -20%;
        z-index: 9999;
        background-size: 48px;
    }
    .list-header ul li a { 
        font-size: 13px;
    }
    .list-header ul li a.active::after {  
        width: 35px;
        background-size: 80%;
    }
    .logo img {
        width: 80px;
        margin: -15px auto;
    }
    .social-links .icons li .social-icon img {
        width: 22px;
        height: auto;
    }
    .btn-submit {
        right: 0px;
    }
}
@media screen and (max-width:768px) {
    .input-contact-us {
        margin: 20px auto 20px 0px;
    }
    .btn-submits{
        left:0px;
    }
    .first-section-about { 
        background-size: 65px;
    }
    .d-flex {
        display: flex;
        gap: 1rem;
        position: absolute;
        justify-content: center;
        margin-bottom: 0px;
        flex-direction: column;
        padding-left: 0px;
    }
    .list-header {
        display: flex;
        justify-content: center;
        padding-top: 10px;
        position: relative;
    }
    .lap-menu{
        display: none;
    }
    .lap-icon-menu{
        display: none;
    }
    .bgmain-box1::after{
        display: none;
    }
    .list-header ul li a.active::after {
        content: " ";
        position: absolute; 
        left: 50%;
        transform: translate(-50%); 
    }
    .list-header ul li a:hover::after{
        left: 50%;
        transform: translate(-50%); 
    }
    header { 
        border-radius: 0px 0px 25px 25px; 
        padding: 14px;
    }
    .home-sec-banner {
        padding: 85px 0px 75px;
    }
    .home-banner-sec-1 h1 { 
        padding-right: 55px;
        font-size: 3rem; 
    }
    .button-hover{
        max-width: 70px;
    }
    .d-flex-start {
        display: flex;
        gap: 1rem;
        justify-content: space-around;
    }
    .box-big h5 { 
        text-align: center;
    }
    .home-banner-sec-1 h2 { 
        padding-right: 40px;
    }
    .find-our-app img {
        height: auto;
        width: 100%;
    }
    footer { 
        border-radius: 25px 25px 0px 0px;
    }
    .mobile-burger{
        display: block;
    }
    .img-3 img , .img-1 img{
        opacity: 0.2;
    }
    .img-2 img, .img-4 img{
       display: none;
    }
    .about-us-title { 
        border-radius: 0px 0px 30px 30px
    }
    .about-us-title { 
        padding: 50px 0px;
    }
    .privacypolicy-content h2 { 
        text-align: center;
    }
    .btn-submit{
        right:0px
    }
    .logo-sec {
        text-align: center;
        padding-left: 20px;
    }
    .box-section {
        padding: 75px 0px 30px;
    }
    .flex-row {
        display: flex;
        justify-content: center;
        flex-direction: column!important;
        align-content: center;
        align-items: center;
    }
}
@media screen and (max-width:425px) {
    home-banner-sec-1 h2 {
        padding-right: 40px;
    }
    .logo-sec{
        padding:20px 0px 40px;
    }
    box-section {
        padding: 75px 0px 0px;
    }
    .title-how-its-work {
        text-align: center;
    }
    .home-banner-sec-1 {
        text-align: left;
        padding: 0px 0px 30px;
    }

}